body {
    background: rgb(143, 73, 73);
    overflow: hidden;
}

#myCanvas1 {
    width: 2500px;
    height: 600px;
    background: white;
    font-family: 'Orbitron', sans-serif;
    background-image: url(../assets/background.png);
 }

#container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* float: left;  */
    width: 1000px; 
    overflow-x:scroll;
}

.btn_jouer {
    font-size: 400%;
    /* justify-content: center; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}