

.container_connecté{
    background-image: url(../assets/background/background-storytelling.png);
    height: 600px;
    width: 1000px;
    position: relative;
}
.storytelling{
   
  right: 10px;
    position: absolute;
}

body {
    background: rgb(3, 1, 84);
    overflow: hidden;
    display: flex;
    justify-content: center;

}

#myCanvas1 {
    width: 2500px;
    height: 600px;
    background: white;
    font-family: 'Orbitron', sans-serif;
    background-image: url(../assets/background.png);
 }

#container{
    margin-top: 80px;
    position: relative;
    /* top: 50%;
    left: 50%; */
    border-radius: 5px;
    /* transform: translate(-50%, -50%); */
    /* float: left;  */
    width: 1000px; 
    overflow-x:scroll;
}

.btn_container{
    position: absolute;
  
    top: 30px;
    right: 100px;
}

.pause_btn{
    position: fixed;
    background-color: rgba(255, 217, 0, 0);
color: inherit;
border: none;
padding: 0;
font: inherit;
cursor: pointer;
outline: inherit;
width: fit-content;}

.pause_btn img{
    height: 50px;
    width: 50px;
}